{% extends "bases/base.html" %}
{% load static %}

{% block head %}
	<title>My Login Page</title>

	<link rel="stylesheet" type="text/css" href="{% static 'accounts/my-login.css' %}">
{% endblock %}


{% block content %}
<body class="my-login-page">
	<section class="h-100">
		<div class="container h-100">
			<div class="row justify-content-md-center h-100">
				<div id="card-wrapper-reset-done">
					<div class="brand">
						<img src="{% static 'img/logo.png' alt-'logo%}">
					</div>
					<div class="card fat">
						<div class="card-body">


        <p>We've emailed you instructions for setting your password, if an account exists with the email you entered.
		    You should receive them shortly.</p>
        <p class="">
		    If you don't receive an email, please make sure you've entered the address you registered with,
		    and check your spam folder.
		  </p>

        <div class="border-top pt-3">
            <h6 class="text-muted">
                <button type="button" class="btn btn-primary btn-block"
                 onclick= "window.location.href ='{% url 'bases-home' %}'">
                Return to home page
                </button>

            </h6>
        </div>

                        </div>
					</div>

				</div>
			</div>
		</div>
	</section>
</body>
{% endblock content %}