{% extends 'bases/base.html' %}
{% load static %}

{% block head %}
    <title>Reset Password Page</title>

    <link rel="stylesheet" type="text/css" href="{% static 'accounts/my-login.css' %}">

{% endblock %}

{% block content %}


<body class="my-login-page">
	<section class="h-100">
		<div class="container h-100">
		<div class="row justify-content-md-center align-items-center h-100">
			<div class="card-wrapper">
				<div class="brand">
					<img src="{% static 'img/logo.png' %}" alt="logo">
				</div>

				<div class="card fat">
					<div class="card-body">
						<h4 class="card-title">Change Password</h4>
						<form role="form" method="POST" class="my-login-validation" novalidate="">
							{% csrf_token %}
							<div class="form-group">
									<div class="invalid-feedback">
										Password is required
									</div>

								<label for="id_old_password">Old Password</label>
								<input name="old_password" class="form-control" placeholder="Old password" type="password" id="id_old_password" required="true">
								{% for error in form.old_password.errors %}
									<p style="color: red">{{error}}</p>
								{% endfor%}

								<label for="id_new_password1">New Password</label>
								<input name="new_password1" class="form-control" placeholder="New password" type="password" id="id_new_password1" required="true">
								{% for error in form.new_password1.errors %}
									<p style="color: red">{{error}}</p>
								{% endfor%}

								<label for="id_new_password2">Confirm password</label>
								<input name="new_password2" class="form-control" placeholder="Confirm password" type="password" id="id_new_password2" required="true">
								{% for error in form.new_password2.errors %}
									<p style="color: red">{{error}}</p>
								{% endfor%}

								<div class="form-text text-muted">
										Make sure your password is strong and easy to remember
								</div>

							</div>

							<div class="form-group m-0">
								<button type="submit" class="btn btn-primary btn-block">
									Update
								</button>
							</div>
						</form>
					</div>
				</div>


			</div>
		</div>
		</div>
	</section>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script src="js/my-login.js"></script>
</body>
{% endblock %}
