*{
	margin: 0;
	padding: 0;
}
body{
	/*background-color: grey;*/
   background-image: url('../img/background.jpg');

}

#header{
    background-color: transparent;
    text-align : center;
}

#content{
	text-align: center;
}

footer{
	text-align: center;
}


.option_layout{
	margin: 10px auto;
	width: 50%;

}

#form_content{
	
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 750px;
    width: 100% auto;
    margin: 0 auto;
    overflow-x: hidden;
    overflow-y: auto;

}

/* form part */

#confirmationField{
	text-align: center;
	margin: auto;
	margin-top: 30px;
	padding: 20px;
	width: 50%;
	border-style: solid;
	border-width: 2px;
	border-color: black;
}

#videoInfo{
	padding: auto;
	margin: 3px auto;
	width: 550px;
	text-align: center;
}

#videoInfo span{
	background: #DCE2BE;
	font-weight: bold;
	color: #351C75;
}




